In [16]:
#Importing Libraries
import pandas as pd
import numpy as np

In [17]:
#Load the dataset
df = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv")

In [18]:
# Examine the data 
df.head()
# Record count
#df.info()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [19]:
# How many columns in the dataset have missing values
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [20]:
# Maximum fuel efficiency in Asia
# Filter for the Asia region
asia_cars = df[df['origin'] == 'Asia']

# Find the maximum fuel efficiency
max_efficiency = asia_cars['fuel_efficiency_mpg'].max()

print(max_efficiency)

23.759122836520497

In [21]:
#Q6a Find the median value of horsepower column in the dataset.
median_value =df['horsepower'].median()
print(median_value)

149.0

In [22]:
#Q6b Next, calculate the most frequent value of the same horsepower column
Mode_value = df['horsepower'].mode()[0]
print(Mode_value)

152.0

In [23]:
#Q6c Use fillna method to fill the missing values in horsepower column with the most frequent value from the previous step.
df['horsepower'] = df['horsepower'].fillna(Mode_value.astype(float))

In [24]:
# Recalculating the median
median_value =df['horsepower'].median()
print(median_value)

152.0

In [25]:
# selecting all cars from asia
asia_cars = df[df['origin'] == 'Asia']
#print(asia_cars)

In [26]:
# Select only columns vehicle_weight and model_year
CFE_columns = df[['vehicle_weight', 'model_year']]
#print(CFE_columns)

In [13]:
#show the first 7 r0ws
CFE_columns = df.head(7)
#print(CFE_columns)

In [29]:
# Get the underlying NumPy array for the first 7 rows

X = df[df['origin'] =='Asia'][['vehicle_weight','model_year']].head(7).to_numpy()
print(X)

[[2714.21930965 2016.        ]
 [2783.86897424 2010.        ]
 [3582.68736772 2007.        ]
 [2231.8081416  2011.        ]
 [2659.43145076 2016.        ]
 [2844.22753389 2014.        ]
 [3761.99403819 2019.        ]]

In [33]:
# We get the Transpose, after that we do a dot multiplication
XTX = X.T.dot(X)
print(XTX)

[[62248334.33150762 41431216.5073268 ]
 [41431216.5073268  28373339.        ]]

In [35]:
# We do an inverse of XTX
XTX_inverse = np.linalg.inv(XTX)
print("Inverse of XTX:\n", XTX_inverse)

Inverse of XTX:
 [[ 5.71497081e-07 -8.34509443e-07]
 [-8.34509443e-07  1.25380877e-06]]

In [37]:
#Create an array y with values [1100, 1300, 800, 900, 1000, 1100, 1200].
y = np.array([1100, 1300, 800, 900, 1000, 1100, 1200])
print("y:\n", y)

y:
 [1100 1300  800  900 1000 1100 1200]

In [39]:
# Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
w = XTX_inverse.dot(X.T).dot(y)
print("w:\n", w)

w:
 [0.01386421 0.5049067 ]

In [41]:
# Sum of w
w_sum = w.sum()
print("Sum of w:\n", w_sum)

Sum of w:
 0.5187709081074016